

server:
  port: 8080

spring:
  application:
    name: devopsapi-gateway
    

  security:
    user:
      name: admin
      password: 
      
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8080/eureka

      
  instance:
    preferIpAddress: true
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
    
    
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream, info, health
        
turbine:
  app-config: devops-dataservice,devops-messageservice
  cluster-name-expression: new String("default")
  
  
zuul: 
  ribbonIsolationStrategy: THREAD #Set the Hystrix isolation policy to the thread pool
  threadPool:
    useSeparateThreadPools: true #each route uses a separate thread pool
    

  #Service will be mapped under the /api URI
  prefix: /api
  #  Uncomment to disable auto-registering all services read from Eureka
  #  ignoredServices: '*'
  routes:
    test:
      path: /redirect/**
      url: http://google.com
    devops-dataservice:
      path: /customer-by-address/**
      url: http://localhost:9098
    devops-messageservice:
      path: /customer-by-service/**
      serviceId: devops-messageservice
    
    
feign:
  hystrix:
    enabled: true   # 




